#/* Appliquer le style à l'ensemble de l'interface */
.anchor-pane {
  -fx-background-color: #fac881;
}

/* Appliquer le style aux labels */
.label {
  -fx-font-size: 20px;
  -fx-font-weight: bold;
}

/* Appliquer le style aux champs de texte */
.text-field {
  -fx-background-color: #fff;
  -fx-border-color: #fac881;
}

/* Appliquer le style aux boutons */
.button {
  -fx-background-color: #fff;
  -fx-text-fill: #fac881;
  -fx-border-color: #fac881;
}

/* Appliquer le style au DatePicker */
.date-picker {
  -fx-background-color: #fff;
  -fx-border-color: #fac881;
}

/* Appliquer le style aux messages d'erreur */
.error-message {
  -fx-text-fill: red;
  -fx-font-weight: bold;
}
